/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Lato', sans-serif;
}


/* Header styles*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}

header a {
    text-decoration: none;
    color: black;
}

#logo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
}

/* Main content */
main {
    background-color: red;
    /* Make main content take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: green;
}