/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Lato', sans-serif;
}

h1, h2, p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
}

/* Header styles*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}

header a {
    text-decoration: none;
    color: black;
}

/* Nav style */
#bar {
    font-size: 80%;
    letter-spacing: 2px;
    list-style-type: none;
}

#bar>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px solid black;
}

/* Nav styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    padding: 0 1rem;
    box-shadow: none;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main content take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#text-cover {
    font-style: italic;
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
}

/* Reasons section */
#reasons {
    width: 100%;
    background: url("../images/rose-2.webp") no-repeat center center/cover;
}

#reasons h2, 
#reasons p {
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

#what-we-do {
        line-height: 20px;
        margin-bottom: 20px;
        color: whitesmoke;
        font-weight: 500;
        font-size: 100%;
        text-align: center;
}

#to-do-list {
    list-style-type: none;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: black;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

     /* Header */
     nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #bar {
        display: flex;
    }

    #bar>li {
        padding-left: 1rem;
        font-size: 200;
        font-weight: bold;
    }   

    .nav-toggle-label {
        display: none;
    } 

    #logo {
        font-size: 400%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

     /* Main content */
     main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero image */
    #text-cover {
        width: 300px;
        right: 50px;
    }

   /* Reasons section */
   #reasons {
    width: 100%;
   }

   #what-we-do {
       width: 100%;
       display: flex;
       justify-content: center;
   }


/* Footer */
   #social-networks i {
       font-size: 200%;
   }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #bar a:hover {
        border-bottom: 2px solid black;
    }
}