/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Lato', sans-serif;
}


/* Header styles*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}

header a {
    text-decoration: none;
    color: black;
}

/* Logo style */
h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
}

/* Nav style */
#bar {
    font-size: 80%;
    letter-spacing: 2px;
    list-style-type: none;
}

#bar>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px solid black;
}

/* Nav styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    padding: 0 1rem;
    box-shadow: none;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: red;
    /* Make main content take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
}

/* Footer */
footer {
    background-color: green;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

     /* Header */
     nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #bar {
        display: flex;
    }

    #bar>li {
        padding-left: 1rem;
        font-size: 200;
        font-weight: bold;
    }   

    .nav-toggle-label {
        display: none;
    } 

    #logo {
        font-size: 400%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

       
}